<.header>
  Edit User <%= @user.id %>
  <:subtitle>Use this form to manage user records in your database.</:subtitle>
</.header>

<.simple_form :let={f} for={@changeset} method="put" action={~p"/users/#{@user}"}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={{f, :email}} type="text" label="email" />
  <.input field={{f, :username}} type="text" label="username" />
  <.input field={{f, :name}} type="text" label="name" />
  <:actions>
    <.button>Save User</.button>
  </:actions>
</.simple_form>

<.back navigate={~p"/users"}>Back to users</.back>
